<.brand_header back={@current_path != "/"} />

<div class="2xl:mt-24">
  <.flash_group flash={@flash} />
  <main>
    <%= @inner_content %>
  </main>
  <footer class="text-center mt-24 pb-16 print:hidden">
    <.link
      :if={false && assigns[:show_back]}
      class="inline-block w-20 h-20 mb-16"
      navigate={~p"/"}
    >
      <.back_button class="block dark:invert" />
    </.link>
    <p>
      <a href={~p"/werdegang/"}>Werdegang</a>
      · <a href="/kontakt/">Kontakt</a>
      · <a href="/impressum/">Impressum</a>
      · <a href="/impressum/">Datenschutz</a>
    </p>
    <p class="text-sm">
      <a rel="me" href="https://hachyderm.io/@lostkobrakai" target="_blank">Mastodon</a>
      · <a rel="me" href="https://github.com/LostKobrakai" target="_blank">GitHub</a>
    </p>
    <p class="mt-2">
      <button style="button" phx-click={JS.dispatch("toogle-darkmode")}>
        <.icon name="hero-sun" class="hidden h-6 w-6 dark:inline-block" />
        <.icon name="hero-moon" class="inline-block h-6 w-6 dark:hidden" />
      </button>
    </p>
  </footer>
</div>
