<!DOCTYPE html>
<html lang="de" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="robots" content={@robots} />
    <KobrakaiWeb.OpenGraph.render og={@og} />

    <.live_title suffix=" | Benjamin Milde">
      {get_in(assigns.og.title) || assigns[:page_title]}
    </.live_title>

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      :if={assigns[:video_js]}
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/video.js"}
    >
    </script>

    <script type="text/javascript">
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        !window.matchMedia('print').matches &&
        localStorage.theme === 'dark' ||
        (
          !('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches
        )
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    <script defer data-domain="kobrakai.de" data-api="/api/event" src="/js/script.js">
    </script>
  </head>
  <body class="container mx-auto p-4 max-w-screen-xl dark:bg-[#111] dark:text-gray-100">
    {@inner_content}
  </body>
</html>
