@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "makeup.css";

@font-face {
  font-family: 'Noway';
  src: url('/font/noway-regular-webfont.woff2') format('woff2'),
       url('/font/noway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .animation-fill-mode-forwards {
   animation-fill-mode: forwards;
  }

  .columns-1 {
    columns: 1;
  }
  .columns-2 {
    columns: 2;
  }
  .columns-3 {
    columns: 3;
  }
}

html, body{
  font-family: "Noway", "Helvetiva Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

.comma-separated li + li::before{
  content: ", ";
}

.prose-custom p{
  @apply my-6;
}
.prose-custom a{
  text-decoration: underline;
}
.prose-custom ul{
  margin-left: 1rem;
  list-style-type: disc;
}