@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "makeup.css";
@import "vidstack/player/styles/default/theme.css";
@import "vidstack/player/styles/default/layouts/video.css";

@font-face {
  font-family: 'Noway';
  src: url('/font/noway-regular-webfont.woff2') format('woff2'),
       url('/font/noway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Excalifont';
  src: url('/font/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Excalifont';
  src: url('/font/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Virgil';
  src: url('/font/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .animation-fill-mode-forwards {
   animation-fill-mode: forwards;
  }

  .columns-1 {
    columns: 1;
  }
  .columns-2 {
    columns: 2;
  }
  .columns-3 {
    columns: 3;
  }
  
  .excalidraw {
    color: black;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .dark .excalidraw {
    filter: invert(100%) hue-rotate(180deg);
  }
}

html, body{
  font-family: "Noway", "Helvetiva Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

.comma-separated li + li::before{
  content: ", ";
}

.prose-custom p{
  @apply my-6;
}
.prose-custom a{
  text-decoration: underline;
}
.prose-custom ul{
  margin-left: 1rem;
  list-style-type: disc;
}

.a-underline a{
  text-decoration: underline;
}

.footnotes p {
  margin: 0
}

.footnotes hr {
  margin-bottom: 1em
}

.stagger {
  animation-delay: calc(var(--index) * 55ms);
}

@media print {
  a::after{
    content: " (" attr(href) ") ";
  }
}

@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 0.2s;
}

@media not (prefers-reduced-motion: reduce) {
  .post-heading, .post-listing { view-transition-name: var(--name) }
  .project-heading, .project-listing { view-transition-name: var(--name) }
  .video-player, .video-listing { view-transition-name: var(--name) }
}
